# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.ioc
.mxproject
.extSettings
*.html
*.png
*.css
*.md
*.s
*.icf
*.js
*.uvoptx
*.uvprojx
EWARM/ADC_Oversampling_Init/.ninja_log
EWARM/ADC_Oversampling_Init/.ninja_deps
EWARM/ADC_Oversampling_Init/BrowseInfo/.ninja_deps
EWARM/ADC_Oversampling_Init/BrowseInfo/.ninja_log
*.pbd
*.browse
*.pbw
*.pbi
*.dep
*.xcl
*.ninja
